

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.custom-carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.custom-carousel-item {
  height: 32rem;
}
.custom-carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  Filter: brightness(50%);
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .custom-carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

}


/* CUSTOM COLOR
-------------------------------------------------- */

.custom-text-color-1{
  color: #4A4A4A;
}
.custom-text-color-2{
  color: #777777;
}

.custom-ratings-color{
  color: #F59E0B;
}
.custom-background-color{
  background-color: #f0f7fa;
}
